@charset "UTF-8";

/* ===레이아웃============================================== */
body {
    --margin: 0;
    --padding: 0;
    height: 100%;
}

#contaner {
    width: 90%;
    --min-width: 460px;
    max-width: 600px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    position: relative;
}

#contaner>div:first-child {
    border: 5px solid #fff;
    align-content: center;
    box-sizing: border-box;
    padding-bottom: 60px;
}

#contaner>div:last-child {
    background: #f2f2f2;
    border: 5px solid #31bfd7;
    width: 90%;
    --min-width: 460px;
    --max-width: 600px;
    height: 60px;
    align-content: center;
    box-sizing: border-box;
    
    position: fixed;
    bottom: 0px;
}

/* ===컨턴츠============================================== */
.rank-Table {
}

.rank-Table table {
    text-align: center;
    font-size: 11pt;
    border-collapse: collapse;
}

.rank-Table table tr {
    height: 50px;
}

#contaner>div:first-child thead{
    font-weight: bold;
}

#contaner>div:first-child thead td {
    border-bottom-width: 3px;
}

#contaner>div:first-child td {
    border-bottom: 1px solid #444444;
    border-bottom-color: #b6b6b6;
}  	
        
    .rank-Table .rank, .profileImg{
        min-width: 50px;
        max-width: 150px;
    }
    
    tbody .profileImg{
        --background: no-repeat url("../images/sample.png") center;
        --background-size: 40px 40px;
    }
    
    tbody .profileImg img{
        width: 40px;
        height: 40px;
    }
    
    .rank-Table .name, .assets, .assetsGrowth{
        min-width: 50px;
        width: 300px;
    }

    .rank-Table tbody .name {
        text-align: left;
    }
    tbody .assetsGrowth{
        color: #cf969c;    
    }