@charset "UTF-8";

#contaner {
	width: 90%;
	--min-width: 460px;
	--max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#newsScroll {
	--overflow: scroll;
	--width: 90%;
	--height: 100%;
	--padding: 5%;
	
}

#newsTable {
	width: 100%;
	text-align: left;
	font-size: 11pt;
	border-collapse: collapse;
}

#newsTable tr {
	height: 40px;
}

#newsTable td {
	font-family: 서울한강체;
	color: #585b5e;
	border-bottom: 1px solid #444444;
	border-bottom-color: #85888a;
	padding: 10px;
}

#newsTable thead td {
	border-bottom-width: 0px;
}

#newsTable>.content {
	font-weight: bold;
	font-size: 12pt;
}

thead .title {
	min-width: 50px;
	width: 30%;
}

a { text-decoration:none ; color: #585b5e;}

#origin {
	font-weight: bold;
	  font-size: 11pt;
	  text-align: right;
}